---
meta:
  title: "About Jojo"
  description: "Since 2008 I’ve worked alongside agencies and startups crafting customer-centric experiences as a Web Designer/ Developer and Product Designer"
  socials:
    twitter: ""
    facebook: ""

hero:
  image: "/resources/img/about.png"
  width: "max-width-normal"
  style: "subpage"
  text: "About Jojo"
  byline:
    width: "max-width-normal"
    emphasis: ""
    text: "I'm currently working as a Senior Product Designer at JESI where I am helping to improve the safety of remote workers around the world."

---

<!DOCTYPE html>
<html>
<head>
  {{> meta }}
  {{> head }}
</head>
<body>
{{> header }}
{{> hero }}

{{> container type='white-bg'}}
  {{> columns large='8' large_offset='2' medium='12' medium_offset='0' small='12' }}
    {{> spacer size='70'}}
    <p>Hi, I'm Joanne. Since 2008 I’ve worked alongside agencies and startups crafting customer-centric experiences as a Web Designer, Web Developer, Product Designer and Customer Experience Specialist.</p>
    <p>I've worked alongside and collaborated with a variety of people and teams including: Marketing, Product, Leadership, Support, Design, Research and Sales.</p>
    <p>Over the years I've amassed experience in: Qualitative and Quantitative Research, Rapid Prototyping, Design Thinking, Workshop Facilitation, Graphic Design, UX Design, UI Design, Web Design and Web Development. I'm also known to be a skilled bug hunter.</p>
    <p>Outside of work I spend my time listening to podcasts, honing my green thumb, playing board games, solving riddles and puzzles in escape rooms, and tinkering away on various craft projects.</p>
    {{> spacer size='20' }}
    <h3>More About Jojo</h3>
    {{> spacer size='20' }}
    <ul>
      <li><a href="/recommendations/">Recommendations</a></li>
      <li><a href="/how-i-became-a-product-designer/">How I Became a Product Designer</a></li>
    </ul>
  {{> columns-footer }}
{{> container-footer }}

{{> footer }}
</body>
