---
meta:
  title: "How I Became a Product Designer"
  description: "A quick overview of the key moments and opportunities that led me to a career as a Product Designer "

hero:
  image: "/resources/img/designer.png"
  width: "max-width-noraml"
  style: "subpage"
  text: "How I Became a Product Designer"
  byline:
    width: "max-width-normal"
    emphasis: ""
    text: "Pay attention to the things you are naturally drawn to. They are often connected to your path, passion, and purpose in life. Have the courage to follow them. - Ruben Chavez"
---

<!DOCTYPE html>
<html>
<head>
  {{> meta }}
  {{> head }}
</head>
<body>
{{> header }}
{{> hero }}

{{> container type='white-bg'}}
  {{> columns large='8' large_offset='2' medium='12' medium_offset='0' small='12' }}

    {{> spacer size='70' }}

    <h2>Tertiary Education</h2>
    <ul>
      <li>When I started University in 2005, I didn’t know what I wanted to do career wise.</li>
      <li>Information Technology was promoted as the job of the future so I figured I should skill up in that area and enrolled myself in a bachelor of Information Technology.  </li>
      <li>During my first year of study, I discovered that I really enjoyed Multimedia.  </li>
      <li>When I wasn’t studying I was often found dabbling in Photoshop.</li>
      <li>By the end of my first year I had a clearer picture about what I enjoyed doing and as a result I switched over to study a bachelor of Visual Communication.  </li>
      <li>In 2008 I finished my bachelor of Visual Communication and left University knowing that I wanted to design and build websites.  </li>
    </ul>

    {{> spacer size='50' }}

    <h2>Getting my foot in the door</h2>
    <ul>
      <li>During my last year at University I worked casually as a compositor for the local newspaper.   Once I finished my studies a sister newspaper offered me a full time role as a marketing assistant.</li>
      <li>I soon discovered that the main role of the marketing assistant was to cold call businesses to see if they were interested in advertising space....this wasn’t my calling (pun not intended).</li>
      <li>I then moved to another local business where I worked as their “webmaster”.</li>
      <li>One fateful day I was attending a marketing seminar where I met a woman called Katrina who was running her own web design business, Mojito Solutions.  After a brief chat about what I had studied at university and what I was interested in doing she handed me her business card and told me to call her if I ever wanted a job.  I rang her the next day.</li>
      <li>And so my career as a web designer and developer started!</li>
    </ul>

    {{> spacer size='30' }}

    <h2>Agency life</h2>
    <ul>
      <li>From 2009 to 2013 I worked for two web design agencies.</li>
      <li>During this time I designed and developed countless websites for a variety of clients.</li>
      <li>The diversity of work allowed me to explore different styles, trends, techniques and tools.</li>
    </ul>

    {{> spacer size='50' }}

    <h2>Stumbling across SafetyCulture</h2>
    <ul>
      <li>After 4 years, I decided to branch out on my own and I started freelancing.</li>
      <li>I don’t often talk about my freelancing days as they were extremely short lived, I'm talking a matter of months (if that).</li>
      <li>While freelancing I was told about SafetyCulture, a local tech startup that was looking for a web designer/developer contractor.   The timing was perfect as I was just finishing up a batch of projects and was looking for some new work to sink my teeth into.</li>
      <li>During my interview, the CEO mentioned that while they were happy to hire me as a contractor, they would prefer to hire me full time if I was interested.</li>
      <li>There was something about SafetyCulture that sparked an interest in me so I decided to take advantage of the opportunity they dropped into my lap and joined the team full time.</li>
    </ul>

    {{> spacer size='50' }}

    <h2>Jumping on a Rocket Ship</h2>
    <ul>
      <li>In 2013 I joined SafetyCulture as a web design and developer.</li>
      <li>I predominantly worked on designing, building, maintaining and optimising the marketing website.</li>
      <li>The team at SafetyCulture grew at a rapid rate over the next few years, and with that growth came an influx of UX Designers, UX Researchers and Product Designers.</li>
      <li>I collaborated frequently with people in these roles and I was fascinated and curious about what they did and how they worked.</li>
      <li>I was really interested in the world of UX, and found myself learning more and more about it.</li>
      <li>I started applying the things I was learning to marketing projects.</li>
      <li>In 2017 my passion for web design and development started to fizzle.  My job became too comfortable and I was no longer feeling challenged.</li>
      <li>As fate would have it, a Product Design position had recently opened up at SafetyCulture and the Head of Design approached me with the position.  I had spent the last few months longing for a new challenge at work, and here it was!</li>
      <li>With the support of my Marketing Manager and the Head of Design I transitioned to the design team as a Product Designer.</li>
      <li>The design team was quite established at this stage, which meant I had many people to learn from and ask for guidance when needed.</li>
      <li>The design team continued to grow over the next few years, and with each new hire was a person I learnt something from.</li>
    </ul>

    {{> spacer size='20' }}

    <p>And that is how I ended up working as a Product Designer! I can’t wait to see where the path I’m currently on takes me over the coming years.</p>

    {{> spacer size='30' }}
  {{> columns-footer }}
{{> container-footer }}

{{> footer }}

</body>
