---
meta:
  title: "Web Page Redesigns"
  description: "A quick overview of the web pages I redesigned at JESI"

navigation:
  -
    title: Project 1 - Redesigning the Home Page
    link: "#project-1"
  -
    title: Project 2 - Attracting Talent to Join the Team
    link: "#project-2"

hero:
  image: "/resources/img/jesi-marketing-updates.png"
  width: "max-width-large"
  style: ""
  text: "Web Page Redesigns"
  byline:
    width: "max-width-normal"
    emphasis: "Marketing Website - JESI"
    text: " "

---

<!DOCTYPE html>
<html>
<head>
  {{> meta }}
  {{> head }}
</head>
<body>
{{> header }}
{{> hero }}


<!--Main Content-->
<div class="main-content">

{{> container type='white-bg'}}
  {{> columns large='8' large_offset='2' medium='12' medium_offset='0' small='12' }}
    {{> spacer size='70'}}
    <p>When I joined JESI in 2020, the company was on the cusp of growing and had no marketing team.  One of my roles during the first 12 months was maintaining the existing marketing website.  During those 12 months we didn't put a lot of energy into the marketing website because a complete redesign and overhaul of the site was planned for 2021 after we hired a marketing team. However, we did do a few small projects during 2020.</p>
    {{> spacer size='50'}}
  {{> columns-footer }}
{{> container-footer }}


{{> container type='light-bg'}}
  {{> columns large='8' large_offset='2' medium='12' medium_offset='0' small='12' }}
    <a name="project-1"></a>
    {{> spacer size='50'}}
    {{> spacer size='20'}}
    <h2>Project #1 - Redesigning the Home Page</h2>
    <p>The pre-exisiting home page didn't do a great job creating a good first impression of JESI.  We decided that we would invest a week into redesigning and rebuilding this page.  The goal was to showcase the main value proposition of JESI in a manner that was easy and inviting to consume.</p>
    {{> spacer size='20'}}
    <h4>Before Redesign</h4>
    {{> spacer size='20'}}
    <img src="/resources/img/jesi-marketing-webpages/old-home-page.png" class="responsive box-shadow" width="90%" style="max-width: 1200px;">
  {{> columns-footer }}
  {{> columns large='8' large_offset='2' medium='12' medium_offset='0' small='12' }}
    {{> spacer size='50'}}
    {{> spacer size='50'}}
    <h4>After Redesign</h4>
    {{> spacer size='20'}}
    <img src="/resources/img/jesi-marketing-webpages/new-home-page.png" class="responsive box-shadow" width="90%" style="max-width: 1200px;">
    {{> spacer size='50'}}
  {{> columns-footer }}
{{> container-footer }}


{{> container type='white-bg'}}
  {{> columns large='8' large_offset='2' medium='12' medium_offset='0' small='12' }}
    <a name="project-2"></a>
    {{> spacer size='50'}}
    <h2>Project #2 - Attracting Talent to Join the Team</h2>
    <p>In late 2020 JESI started recruiting to grow the team.  As such we invested some time into updating our About page, to make it more appealing and we also created a Careers page  </p>
    {{> spacer size='20'}}
    <h4>About Page: Before Redesign</h4>
    {{> spacer size='20'}}
    <img src="/resources/img/jesi-marketing-webpages/old-about.png" class="responsive box-shadow" width="90%" style="max-width: 1200px;">
  {{> columns-footer }}
  {{> columns large='8' large_offset='2' medium='12' medium_offset='0' small='12' }}
    {{> spacer size='50'}}
    <h4>About Page: After Redesign</h4>
    {{> spacer size='20'}}
    <img src="/resources/img/jesi-marketing-webpages/new-about.png" class="responsive box-shadow" width="90%" style="max-width: 1200px;">
    {{> spacer size='50'}}
    <h4>New Page: Careers</h4>
    {{> spacer size='20'}}
    <img src="/resources/img/jesi-marketing-webpages/new-careers.png" class="responsive box-shadow" width="90%" style="max-width: 1200px;">
  {{> columns-footer }}
{{> container-footer }}

{{> spacer size='80'}}



{{> footer }}
</body>
