---
meta:
  title: "Recommendations"
  description: "A few kind words from some lovely people I have had the pleasure of working with and learning from over the years."

hero:
  image: "/resources/img/recommendations.png"
  width: "max-width-normal"
  style: "subpage"
  text: "Recommendations"
  byline:
    width: "max-width-normal"
    emphasis: ""
    text: "A few kind words from some lovely people I have had the pleasure of working with and learning from over the years."
---

<!DOCTYPE html>
<html>
<head>
  {{> meta }}
  {{> head }}
</head>
<body>
{{> header }}
{{> hero }}


{{> container type='white-bg'}}
  {{> columns large='8' large_offset='2' medium='12' medium_offset='0' small='12' }}
    {{> spacer size='70' }}

    {{> quote-info quote_avatar='/resources/img/tom.jpeg' quote_author='Tom Dance' quote_title='Director of Engineering at SafetyCulture' quote_relationship='Worked with Jojo at SafetyCulture'}}
    <p class="quote">I have been fortunate enough to spend over two years working directly with Jo Walter at SafetyCulture. I don't use the word fortunate lightly - in this instance, it is totally deserving. Jo is an absolute delight to work with. To label her a product designer sells her short, she is far more talented.</p>
    <p>I worked with Jo directly as a product manager in the same product team. Jo and I spoke daily about projects we were working on along with strategic initiatives being planned. Regarding the day to day, Jo is reliable and diligent with her work. I know if I ask Jo for a deliverable for our software engineers she will get it done, and to an extremely high standard. Any experienced PM or leader will recognise just how good it is working with people you can rely on. Jo doesn't settle for "good enough" - she expects high performance from herself (and others), and she always delivers.</p>
    <p>Jo is not afraid to get in the weeds on a problem when necessary. She will proactively research customer problems both quantitatively through product usage metrics along with qualitative methods such as customer calls and feedback. She merges feedback sources together, adds in her extensive B2B product knowledge and company strategic goals and produces beautiful user journeys that are on point and clearly justified with data and research.</p>
    <p>A practical example of this is when we were investigating introducing a new free tier limitation to our product in the form of a split test. Jo organised customer calls from the cohort of users we were interested in, dug into the data and started iterating on early sketches. She continued to work the designs and UX with careful attention to how the overall experience fits with the rest of the product. She encouraged feedback from the rest of the team and other product designers until she was confident with the final product. Delivering such a well thought through experience to our software engineers for implementation is a joy - they have everything they need and can focus on executing technically.</p>
    <p>Jo can also switch to thinking strategically when required. In the lead up to a major refactor of some core team management screens in iAuditor, Jo researched critical components such as tables, lists, bulk actions, pagination and infinite scrolling. She developed strong opinions loosely held and proceeded to create slide decks for presenting her findings back to the company. She advocated for what she believed, took on feedback and we ended up with a rock-solid set of reusable components that suit out product and our customer perfectly.</p>
    <p>As I said at the start, I am the fortunate one. I have seen how good a product designer can be, and Jo is outstanding. To round it all out, she is kind, genuine and a lovely person. If I'm building my ultimate product team, Jo is my first pick"</p>

    {{> spacer size='40' }}
    <hr/>
    {{> spacer size='60' }}

    {{> quote-info quote_avatar='/resources/img/timothy.jpeg' quote_author='Timothy Greig' quote_title='Product Design Principal at SafetyCulture' quote_relationship='Worked with Jojo at SafetyCulture'}}
    <p class="quote">"Jo had a significant impact during her time at SafetyCulture, leading design on key projects that have gone on to result in impressive increases in customer conversion and engagement. Inclusive, collaborative, and thorough — she has a real knack for keenly thinking through a solution to uncover the scenarios and edge-cases that others would normally miss."</p>

    {{> spacer size='40' }}
    <hr/>
    {{> spacer size='60' }}

    {{> quote-info quote_avatar='/resources/img/dylan.jpeg' quote_author='Dylan Mathiesen' quote_title='Product Manager at Rexlabs' quote_relationship='Worked with Jojo at SafetyCulture'}}
    <p class="quote">"I’ve had the pleasure of working with Jo for 2 years now. She is a skilled Product Designer and talented design researcher. Her ability to develop customer needs through research, design solutions and iterate based on customer feedback/testing is an invaluable addition to every project we’ve worked on. Jo is known for her eye for detail in the company and ability to study, document and communicate how complex product features are used. These research and communication skills have helped her develop design principles now followed by the entire design team and present complex visions and proposals to senior leaders in the company. Jo is standout on the team and would be an asset to any team she works with in future!"</p>


    {{> spacer size='40' }}
    <hr/>
    {{> spacer size='60' }}


    {{> quote-info quote_avatar='/resources/img/joao.jpeg' quote_author='João Inacio' quote_title='Senior Product Designer at Talkdesk' quote_relationship='Worked with Jojo at SafetyCulture'}}
    <p class="quote">Jo is an incredible designer. She challenges the way things are done, and is fiercely transparent and honest. One of her biggest strengths as a designer is her empathy towards the user and her passion for research. She also has experience with coding what allows her to understand the technical challenges and quick develop fully functional prototypes to test concepts and ideas. It was always a pleasure to work with her on various projects at SafetyCulture and I'd highly recommend Jo.
    </p>


  {{> columns-footer }}
{{> container-footer }}

{{> spacer size='30' }}

{{> footer }}
</body>
