<div class="footer">
  <div class="container">
    <div class="row">
      <div class="desktop-col-10 desktop-offset-1 laptop-col-10 laptop-offset-1 tablet-col-12 phone-col-12">
        <div class="wrapper">
          <p><a href="/code-challenges/">Code Challenges</a> &nbsp; | &nbsp; <a href="/resources/joanne-walter-resume.pdf" target="_blank">Resume</a><br/>Website design and content © 2021 Joanne Walter</p>
        <!--<p><span class="material-icons">waving_hand</span><br/><strong>Jojo</strong> | Product Designer<br/>Website design and content © 2021 Joanne Walter</p>-->
      </div>
      </div>
    </div>
  </div>
</div>
