<!--Header-->
<div id="header">

  <!--Large View-->
  <div class="large-view">
    <div class="container">
      <div class="row flex-center">
        <div class="col-4">
          <div class="logo-container flex-center">
          <div class="logo"><a href="/"><img src="/resources/img/jojo-logo.svg"/></a></div>
          <div class="logo-byline"><div>Jojo</div>Product Designer</div>
          </div>
        </div>
        <div class="col-8">
          <ul>
            <li><a href="/">Case Studies</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="https://www.linkedin.com/in/%F0%9F%94%AE-joanne-walter-1029b2b5/" target="_blank">LinkedIn</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--End Large View-->

  <!--Small View-->
  <div class="small-view">
    <div id="open-menu-button" class="menu-button"><span class="material-icons">menu</span></div>
    <div class="logo-container flex-center">
      <div class="logo"><a href="/"><img src="/resources/img/jojo-logo.svg"/></a></div>
      <div class="logo-byline"><div>Jojo</div>Product Designer</div>
    </div>
  </div>
  <!--End Small View-->

</div>
<!--End Header-->

<!--Navigation Panel: Small View-->
<div id="navigation-panel">
  <div id="close-menu-button" class="menu-button"><span class="material-icons">close</span></div>
  <div class="logo"><a href="/"><img src="/resources/img/jojo-logo.svg"/></a></div>
    <ul>
      <li><a href="/">Case Studies</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="https://www.linkedin.com/in/%F0%9F%94%AE-joanne-walter-1029b2b5/" target="_blank">LinkedIn</a></li>
    </ul>
  </div>
</div>
<!--End Navigation Panel: Small View-->
