<div class="flex-center small-stacked quote-container">
  <div class="quote-avatar"><img src="{{ quote_avatar }}"></div>
  <div class="quote-author"><strong> {{ quote_author }}</strong><br/> {{ quote_title }}<br/><span>{{ quote_relationship }}</div>
</div>
