html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}
*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
body {
	color: #000;
	-webkit-font-smoothing:subpixel-antialiased;
	font-family: 'Roboto', sans-serif;
	background: #fff;
  touch-action: pan-x pan-y;
}


#header {
	padding: 10px 0;
	background: #000;
	height: 50px;
}
#header h1 {
	font-family: 'Lilita One', cursive;
	text-align: center;
	font-size: 24px;
	color: #fff;
	font-weight: normal;
}

.info-link {
	position: absolute;
	top: 12px;
	right: 10px;
	color: #fff;

}


#container {
	max-width: 500px;
	margin: 0 auto;
	padding: 20px 0;
}

.letters {
	display: flex;
	justify-content: center;
}
.letter {
	display: block;
	width: 45px;
	height: 45px;
	border: 1px solid #ccc;
	text-align: center;
	margin: 2px;
	background: #fff;
	border-radius: 0px;
	line-height: 45px;
}


#keyboard {
	position: fixed;
	bottom: 0;
	left: 50%;
  transform: translate(-50%, 0);
	width: 100vw;
	max-width: 600px;
	margin: 0 auto;
	padding: 10px;
}

.keyboard-row {
	display: flex;
	align-items: center;
	justify-content: center;

}
.keyboard-row div {
	background: #eee;
	height: 45px;
	margin: .5%;
	border-radius: 5px;
	text-align: center;
	line-height: 45px;
	flex-basis: 8%;
	flex-grow: 0;
}
.keyboard-row div#submit, .keyboard-row div#backspace {
	flex-basis: 12%;
}
.keyboard-row div .material-icons-round {
	line-height: 45px;
}


.alert {
	border-radius: 10px;
	margin: 0 auto;
	width: auto;
	text-align: center;
	font-size: 16px;
	color: #111;
	line-height: 20px;
	padding: 20px;
	position: fixed;
	left: 50%;
	top: 80px;
  transform: translate(-50%, 0);
	z-index: 99999;
}
#alert-1, #alert-2 {
	background: #FFEBB3;
}

#alert-3 {
	width: 90vw;
	height: 90vh;
	top: 5vh;
	background: #298944;
	color: #FFF;
}

.slideSource {
	opacity:1;
	-webkit-transition: opacity .2s;
	-moz-transition: opacity .2s;
	transition: opacity .2s;
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #fff;
	z-index: 99999;
	opacity: 80%;
}

.modal {
	z-index: 999999;
	position: fixed;
	background: #fff;
	border: 1px solid #555;
	width: 300px;
	margin: 0 auto;
	left: 50%;
	top: 80px;
  transform: translate(-50%, 0);
	border-radius: 10px;
	text-align: center;
	padding: 50px 20px;
}

.modal h2 {
	font-size: 24px;
	font-weight: bold;
	line-height: 28px;
	padding-bottom: 20px;
}
.modal p {
	padding: 0 0 20px 0;
}

.modal p#correct-answer-was {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 35px;
	line-height: 40px;
	padding: 0 0 20px 0;
}
.modal p.byline {
	font-style: italic;
	font-size: 16px;
	line-height: 20px;
	padding: 0 0 20px 0;
}
.modal p.winner {
	padding: 0 0 10px 0;
}
.modal p.guesses {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 35px;
	line-height: 40px;
	padding: 0 0 20px 0;
}
.modal a {
	color: #222;
	text-decoration: underline;
}
.modal a:hover {
	color: #555;
}

button.cta {
	background: #222;
	color: #fff;
	border-radius: 5px;
	width: auto;
	padding: 10px 30px;
	display: inline-block;
	border: none;
}
button.cta:hover {
	background: #555;
	cursor: pointer;
}

.hide {
	display: none;
}

.orange {
	background: #E88149 !important;
	transition: 0.2s;
	color: #fff;

}
.grey {
	background: #333 !important;
	transition: 0.2s;
	color: #fff;
}
.green {
	background: #298944 !important;
	transition: 0.2s;
	color: #fff;
}
